// Layout container
.container {
    width: @desktop-width;
    margin: auto;
    .if-is-mobile({
        width: 100%;
    }
    );
}

//grid 
.grid-generator(@columns, @i: 1) when (@i <= @columns) {
    .col-@{i}
    {
        width: @i * (100% / @columns);
        float: left;
        display: block;
        .if-is-mobile({
        	width:100%;
        	});
    }
    .grid-generator(@columns, (@i + 1));
}

.row {
    .clearfix();
    .grid-generator(12);
    //div[class*="col-"]:nth-child(odd){ background: #999999}
}
