.media.item{
	margin-bottom: 25px;
	border: 1px ;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	box-shadow: 0 0 10px #ccc;
	.cover{
		overflow:hidden;
	}

	.link{
		color: @main-text-color;
	}
	img{
		transition: transform 250ms;
		.img-responsive();
	}
	.wrapper{
		margin: 0 20px 20px 20px;
		border: 0;
		box-shadow: none;
		
	}
	.title{
		margin: 0 0 15px 0;
		font-size: 18px;
	}
	.categories ul{
		.horizontal-list();
		li:after{
			content: ",";
		}
		li:last-child:after{
			content: "";
		}
	}
	.rating{
		display: inline;
		margin-left: 20px;
	}
	.video-wrapper{ perspective:1000px;}
	.video{
		width:100%;
		height: 601px;
		background:black;
		animation: bounceInDown 2s;
		transform: rotateY(-50deg);
	}

} 
